Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.
Даны значения роста в трех группах случайно выбранных спортсменов:

Футболисты: 173, 175, 180, 178, 177, 185, 183, 182.

Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180.

Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import pandas as pd

In [3]:
x1 = np.array([173, 175, 180, 178, 177, 185, 183, 182])
x2 = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
x3 = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

In [4]:
# проверка на нормальность
print(st.shapiro(x1))
print(st.shapiro(x2))
print(st.shapiro(x3))

ShapiroResult(statistic=0.9775082468986511, pvalue=0.9495404362678528)
ShapiroResult(statistic=0.9579196572303772, pvalue=0.7763139009475708)
ShapiroResult(statistic=0.9386808276176453, pvalue=0.5051165223121643)

pvalue во всех выбораках больше alpha -> H0, распределение нормальное

проверяем равенство дисперсий

In [5]:
st.bartlett(x1, x2, x3)

BartlettResult(statistic=0.4640521043406442, pvalue=0.7929254656083131)

pvalue=0.792 > alpha -> H0, дисперсии однородны

можем применить однофакторный дисперсионный анализ

In [6]:
f = st.f_oneway(x1, x2, x3)
f

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

pvalue=0.01048220 < alpha -> H1, статистически значимые различия найдены

In [17]:
df1 = pd.DataFrame({'height': [173, 175, 180, 178, 177, 185, 183, 182],
                     'group' : 'football'})

In [8]:
df2 = pd.DataFrame({'height': [177, 179, 180, 188, 177, 172, 171, 184, 180],
                     'group' : 'hockey'})

In [9]:
df3 = pd.DataFrame({'height': [172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170],
                     'group' : 'barbell'})

In [18]:
# df4 = pd.concat([df1, pd.DataFrame.from_dict(df2, orient='index', columns=df1.columns)], ignore_index=True)
df4 = pd.concat([df1, df2, df3])
df4

    height     group
0      173  football
1      175  football
2      180  football
3      178  football
4      177  football
5      185  football
6      183  football
7      182  football
0      177    hockey
1      179    hockey
2      180    hockey
3      188    hockey
4      177    hockey
5      172    hockey
6      171    hockey
7      184    hockey
8      180    hockey
0      172   barbell
1      173   barbell
2      169   barbell
3      177   barbell
4      166   barbell
5      180   barbell
6      178   barbell
7      177   barbell
8      172   barbell
9      166   barbell
10     170   barbell

In [21]:
df_append = df1.append(df2, ignore_index=True)

/var/folders/3s/9xxqj9854x5d63mb_dq115ch0000gn/T/ipykernel_1715/2217162952.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df1.append(df2, ignore_index=True)

In [22]:
df_append_all = df_append.append(df3, ignore_index=True) 
     
print(df_append_all)

    height     group
0      173  football
1      175  football
2      180  football
3      178  football
4      177  football
5      185  football
6      183  football
7      182  football
8      177    hockey
9      179    hockey
10     180    hockey
11     188    hockey
12     177    hockey
13     172    hockey
14     171    hockey
15     184    hockey
16     180    hockey
17     172   barbell
18     173   barbell
19     169   barbell
20     177   barbell
21     166   barbell
22     180   barbell
23     178   barbell
24     177   barbell
25     172   barbell
26     166   barbell
27     170   barbell

/var/folders/3s/9xxqj9854x5d63mb_dq115ch0000gn/T/ipykernel_1715/1762723305.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append_all = df_append.append(df3, ignore_index=True)

In [19]:
tukey = pairwise_tukeyhsd(endog =df4['height'],
                        groups= df4['group'],
                        alpha = 0.05)
print(tukey)

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
========================================================
 group1   group2  meandiff p-adj   lower   upper  reject
--------------------------------------------------------
 barbell football   6.3977 0.0219  0.8372 11.9583   True
 barbell   hockey   5.9394 0.0284  0.5607 11.3181   True
football   hockey  -0.4583  0.979 -6.2732  5.3566  False
--------------------------------------------------------

In [ ]:
tukey = pairwise_tukeyhsd(endog =df_append_all['height'],
                        groups= df_append_all['group'],
                        alpha = 0.05)
print(tukey)

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
=========================================================
 group1   group2  meandiff p-adj   lower    upper  reject
---------------------------------------------------------
 barbell football  -6.1023 0.8001 -29.8804 17.6759  False
 barbell   hockey   5.9394 0.7979 -17.0613   28.94  False
football   hockey  12.0417 0.4606  -12.824 36.9074  False
---------------------------------------------------------